/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/.deps
/.libs
/*.la
/*.lo
/*.o
/depcomp
/install-sh
/libtool
/ltmain.sh
/newarkAPI.pc
/missing
/config.h
/stamp-h1
